.sous-titre {
  color: #698af5;
  font-size: 14px;
}

a {
  margin: 0 18px 0 0;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
a:hover,
a:active,
a:focus {
  color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
}
